@page
@model SFF_Komplettering.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ScoreValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ReviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ReviewContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewContent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
